h1 {
    border: solid 2px; 
    text-align: center;
    border-color: rgb(37, 72, 226);
    border-radius: 50px;
    color: rgb(119, 78, 129);
    font-size: 60px;
    font-family:cursive;
}
h1:hover {
    background-color: azure;
}
button {
    border-radius: 50px;
    cursor:crosshair;
    background-color:brown; 
    color:white;
    font-family:cursive;
}
button:hover {
    background-color: blue;
    filter: blur(4px);
}

img{
    cursor:wait;
}
img:hover{
    border: solid 1px;
    border-color:rgb(102, 101, 86);
    border-radius: 100px;
}

p{
    color:green; 
    font-size: 45px;
    font-family:cursive;
}

h4{
    color: rgb(83, 81, 60);
    font-family:cursive;
}
