body{
    background-color: rgb(231, 231, 252);
}

button {
    color: rgb(67, 59, 104);
    background-color: rgba(247, 213, 237, 0.795);
    border-radius: 80px;
    border-style: none;
    border: solid 2px rgb(67, 59, 104);
    cursor: pointer;
    font-size: 24px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    height: 35px;
    width: auto;
    transition: 0.5s;
    
}

button:hover {
    background-color: rgb(177, 160, 209);
    opacity: 50px; 
    font-size:26px;
    width:auto;
    transition: background-color 1s;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.24), 0 12px 15px 0 rgba(0,0,0,0.19);
}

.container {
    display: flex;
    border-bottom: solid 1px rgb(53, 45, 87);
    background-color: rgba(231, 231, 252, 0.863);
    margin:auto;
    justify-content:flex-end;
    align-items: left;
    height: 55px;
    padding:auto;
}
.placeholder {
    padding-right: 10px;
}

.item {
    margin: 5px;
    padding: 5px;

}

.title {
    font-family:Impact, Haettenschweiler, 'Arial Narrow', sans-serif;
    font-size: 50px;
    margin-right:auto;
    color: rgba(54, 48, 83, 0.877);
    cursor:default;
}

.title:hover {
    color: rgba(143, 143, 233, 0.548);
    transition: color 2s;
}

.grid-container {
    display:grid;
    grid-template: repeat(3, auto)/ repeat(3,auto);
    border: 2px dashed rgb(53, 45, 87);
    margin: 15px;
    padding: 15px;
    transition: 3s;
    grid-template-areas:
    "header header header"
    "item-1 item-2 item-3"
    "item-1 item-4 item-3";
}

.grid-item {
    font-family:Arial, Helvetica, sans-serif;
    border: 2px solid rgb(177, 160, 209);
    text-align: center;
    margin: 3px;
    padding: 3px;
}
.grid-item:hover {
background-color: rgba(83, 83, 83, 0.274);
color:rgba(255, 255, 255, 0.877);
transition:1.5s;
cursor:default;
}

.item-1 {
grid-area: item-1;
border: 0;
cursor:wait;
}
.item-1:hover {
    background-color:rgba(240, 248, 255, 0);
    cursor: wait;
}
.item-2 {
    grid-area: item-2
}
.item-3 {
    grid-area: item-3;
}
.item-4 {
    grid-area: item-4;
}
.header {
    grid-area: header;
    border: 0;
    border-radius: 0px 100px 0px 100px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 25px;
    transition: 2s;
    cursor:default;
}
.header:hover {
    background-color: rgba(23, 6, 63, 0.795);
    color:rgba(255, 254, 173, 0.877);
    font-size:30px;
    transition:2s; 
    cursor:default; 
}

.image {
    border-radius: 2px;
    margin: 15px;
    transition: width 3s, height 3s, transform, 3s;
}
.image:hover {
    
    transform: rotate(360deg);
    transition: 3s;
}

.grid-container2 {
    display:grid;
    border: 2px dashed rgb(53, 45, 87);
    margin: 15px;
    padding: 15px;
    grid-template: repeat(3, auto)/ repeat(3,auto);
    grid-template-areas: 
    "header header header"
    "item-3 item-2 item-1"
    "item-4 item-2 item-1";

}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.content {
    padding:50px;
}

.sticky + .content {
    padding: 50px;

}